*{
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body
{
    background:#101010;
}
header{
    width:100%;
    background: #101010;
    color:#18FFFF;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    z-index: 9999999999;
}
span.high{
    color:#fff;
}
nav{
    margin: 0;
    padding: 0;
    border: 1.5px solid #18ffff;
    text-align: center;
    background:#101010;
    padding: 11px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    z-index: 99999;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 1.2rem;
    text-decoration: none;
    color:#18FFFF;
    padding:10px 20px;
}
nav li a:hover{
    background: #18FFFF;
    color: #101010;
}
.short
{
    margin: 0;
    padding: 0;
    border: 1.5px solid #18ffff;
    text-align: center;
    background:rgb(51,51,51);
    padding: 5px;
    display: none;
    z-index: 99999;
    position: sticky;
    top:0;
}
.short a{
    font-size: 1.2rem;
    text-decoration: none;
    color:#18FFFF;
    padding:5px 20px;
}
.container{
    width:80%;
    margin:0px auto 40px;
    padding: 20px;
    /* display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 4px;
    justify-content: space-evenly;
    align-content: center; */
}
.text{
    padding: 30px 40px;
    width: 100%;
    background: #18ffff;
    border-radius: 20px;
    font-size: 1.2rem;
    margin: auto;
}
.text ul{
    list-style: inside;
}

#my-img
{
    width:150px;
    margin: auto;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid #18FFFF;
}
.img{ 
    width:20%;
    margin: 20px auto;
}
.btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color:#fff;
    background: #101010;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    text-align: center;
    margin-top: 20px;
    width: 150px;
}
@media screen and (max-width:780px){
    header h1{
        font-size: 3rem;
    }
}
@media screen and (max-width: 480px)
{
    nav li 
    {
        display: block;
        width: 100%;
        padding:10px 20px;
        border-bottom: 1px solid black;
    }
    nav{
        width: 100%;
        padding: 0;
        border-top: 0;
        display: none;
    }
    nav li a
    {
        width: 100%;
    }
    .short{
        display: block;
    }
    .container{
        width: 100%;
    }
}
.img{
    text-align: center;
    width:60%;
    margin:0px auto 10px;
}
.containerB{
    text-align: center;
    padding: 40px 0;
    color: #FFF;
    vertical-align: baseline;
}
.containerB .mail p,.containerB .whatsapp p {
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: 'Noto Sans HK', sans-serif; */
    font-weight: 100;
    font-size: 2rem;
}
.ico
{
    width: 40px;
    margin-bottom: -10px;
    margin-right: 5px;
}
#or{
    margin:20px;
}
.hvr-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    
  }
  .hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
  }
#head{
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    margin: 0 0 60px 0;
    color: #18ffff;
}
@media screen and (max-width:680px){
    .containerB .mail p,.containerB .whatsapp p {
        font-size: 1.5rem;
    }
}
@media screen and (max-width:500px){
    .containerB .mail p,.containerB .whatsapp p {
        font-size: 1.2rem;
    }
}
@media screen and (max-width:420px){
    .containerB .mail p,.containerB .whatsapp p {
        font-size: 1rem;
    }
}

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

