    /*
    Flaticon icon font: Flaticon
    Creation date: 29/10/2020 16:29
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-administrator:before { content: "\f100"; }
.flaticon-webdesign:before { content: "\f101"; }
.flaticon-domain:before { content: "\f102"; }
.flaticon-webdevelopment:before { content: "\f103"; }
.flaticon-lamp:before { content: "\f104"; }
.flaticon-advertising:before { content: "\f105"; }
.flaticon-contentmarketing:before { content: "\f106"; }
.flaticon-vector:before { content: "\f107"; }
.flaticon-stats:before { content: "\f108"; }
.flaticon-edit:before { content: "\f109"; }
.flaticon-online-shopping:before { content: "\f10a"; }
    
    $font-Flaticon-administrator: "\f100";
    $font-Flaticon-webdesign: "\f101";
    $font-Flaticon-domain: "\f102";
    $font-Flaticon-webdevelopment: "\f103";
    $font-Flaticon-lamp: "\f104";
    $font-Flaticon-advertising: "\f105";
    $font-Flaticon-contentmarketing: "\f106";
    $font-Flaticon-vector: "\f107";
    $font-Flaticon-stats: "\f108";
    $font-Flaticon-edit: "\f109";
    $font-Flaticon-online-shopping: "\f10a";